<div class="{{ class | default: '' }}" style="{{ style | default: '' }}">
  {% for link in linklists.main-menu.links %}
    <a
      href="{{ link.url }}"
      class="inline-block uppercase text-lg leading-tight transition duration-150 {% if link.active %}font-bold{% else %}border-transparent hover:font-bold{% endif %}"
    >
      {{ link.title }}
    </a>
  {% endfor %}
</div>