@keyframes bounceCustom {
    0%, 100% {
        transform: translateY(-25%);
        animation-timing-function: linear;
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-custom {
    animation: bounceCustom 1s infinite;
}